* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}
.navbar {
    width: 100%;
    background: #ffffff;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ff6600;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.links  {
    display: flex;
    gap: 30px;
}
.links a {
    color: #023a51;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 19px;
    gap: 70px;
    transition: color 0.3s ease;
}
.links a:hover {
    color: #ff6600;
}
.hamburger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    width: 100%;
    height: 4px;
    background: #ffffff;
    border-radius: 4px;
}

@media (max-width: 750px) {
    .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #000000;
        position: absolute;
        text-align: center;
        gap: 20px;
        border-top: 2px solid #ff6600;
        top: 70px;
        right: 0;
        left: 0;
        padding: 20px 0;
        display: none;
    }
    .links.show {
        display: flex;
        animation: slideDown 0.3s ease;
    }
    .hamburger {
        display: flex;
    }
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}